/* Middle content container */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #101820;
}

/* Page transition animations */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

motion.div {
  flex: 1;
}
