.btn-xs{
    padding: 0.25rem 0.5 rem;
    font-size: 0.75rem;
    line-height: 1.25;
    border-radius: 0.2rem;
}
.fade-enter{
    opacity: 0;
}
.fade-enter-active{
    opacity: 0.5;
    transition: opacity 500ms;    
}
.fade-exit{
    opacity: 0.6;
}
.fade-exit-active{
    opacity: 0.2;
    transition: opacity 500ms;
}