.modal{
    position: fixed;  
    top:0;
    left:0;
    width: 50%;
    height: 50%;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.modal-content{
    background: gold;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0,0, 0.4);
  }