/* Main Container */
.homepage-container {
    font-family: Arial, sans-serif;
    justify-content: center;
  }
  
  .hero-content {
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-size: 70px;
    text-align: center;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-size: 30px;
    text-align: center;
  }
  
 
  
 
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hero-content h1 {
      font-size: 2.5rem;
    }
  
    .hero-content p {
      font-size: 1.2rem;
    }
  
    .features-section h2,
    .how-it-works-section h2 {
      font-size: 2rem;
    }
  
    .feature-item, .step {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
  